.App {
  height: 100vh;
  padding: 0;
  margin: 0;
  flex: 1;
}

.container {
  width: 98.5%;
  height: 85%;
  margin: .75%;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
}

.info {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gh-icon {
  width: 30px;
  height: 30px;
}

input {
  width: 5%;
  padding: 5px;
  margin-right: 10px;
}

.buttons {
  display: flex; /* Arrange buttons and input horizontally */
  align-items: center; /* Vertically align items */
  padding: 10px; /* Add padding for spacing */
  background-color: #f0f0f0; /* Background color for the button container */
  height: 10%;
  width: 98.5%
}

.buttons button {
  padding: 10px 20px; /* Add padding to buttons */
  margin-right: 10px; /* Add margin between buttons */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor on hover */
}

.buttons button:hover {
  background-color: #0056b3; /* Button background color on hover */
}